div.kc-logo-text {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 63px;
    width: 300px;
    margin: 0 auto;
}

.login-pf body {
   border-top:  3px solid #199dde;
   background-image: url(../img/bg-login.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
